html, body {
 	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
    margin: 0px;
    padding: 0px;
 	background-color:  white;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #003767;
}
a:link {
  text-decoration: none;
  color:inherit;
}
a:hover {
  text-decoration: none;
  color:inherit;
  border-bottom: none;
}
a:visited {
  text-decoration: none;
  color:inherit;
  border-bottom: none;
}
.desktop{
	margin-left:auto;
	margin-right:auto;
	width: 1440px;
	height:100%;
}
.tablet{
	margin-left:auto;
	margin-right:auto;
	width: 900px;
	height:100%;
}
.mobile{
	margin-left:auto;
	margin-right:auto;
	width: 414px;
	height:100%;
}
.bg_image{
	position: absolute;
	margin-left:auto;
	margin-right:auto;
}

/*////////////  CTA  ////////////*/

.cta_container{
	position: fixed;
	right:35px;
	bottom: 12px;
	z-index: 3;
}
.cta{
	background-color: #79BDE8;
	padding: 12px 18px 12px 19px;
	color: black;
	margin-right: 1px;
	margin-left: 1px;
	font-size: .9rem;
}

/*////////////  SIDE MENU  ////////////*/

.side_menu{
	width:66px;
	height:100%;
	position: fixed;
	z-index: 2;
	background-color: #79BDE8;
	text-align: center;
}
.side_menu_icons{
	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
}
.icon{
	fill: black;
	padding-top: 11px;
	padding-bottom: 11px;
	width: 66px;
}
.icon:hover{
	fill: #79BDE8;
	background-color: #003767;
	padding-top: 11px;
	padding-bottom: 11px;
	width: 66px;
}
.bottom_menu{
	width:100%;
	height:66px;
	position: fixed;
	z-index: 2;
	background-color: #79BDE8;
	bottom: 0;
	left: 0;
	display:flex;
	justify-content:center;
	align-items:center;
}
.bottom_menu_icons{
	height: 66px;
}
.icon_mobile{
	fill: black;
	padding-top: auto;
	padding-bottom: auto;
	float: left;
	width: 60px;
}
.icon_mobile:hover{
/*	fill: #79BDE8;
	background-color: #003767;
	padding-top: auto;
	padding-bottom: auto;*/
}


/*////////////  HAMBURGER MENU  ////////////*/

.hamburger_menu a{
	fill: black;
	display: none;
	position: fixed;
	right:35px;
	top: 35px;
	z-index: 3;
	background-color: #79BDE8;
	border: 4px solid #79BDE8;
	transition: .35s all ease;
}
.hamburger_menu a:hover{
	fill: #79BDE8;
	background-color: #003767;
	border: 4px solid #79BDE8;
}
.hamburger_menu_mobile a{
	fill: black;
	position: fixed;
	right:0px;
	top: 21px;
	z-index: 3;
	background-color: #79BDE8;
	border: 4px solid #79BDE8;
	transition: .35s all ease;
}
.hamburger_menu_mobile a:hover{
	fill: #79BDE8;
	background-color: #003767;
	border: 4px solid #79BDE8;
}
.btn_padding{
	padding: 26px;
}


@media screen and (min-width: 1000px) {
	.desktop{
		display: inline-block;
	}
	.tablet{
		display: none;
	}
	.mobile{
		display: none;
	}
}
@media screen and (max-width: 1000px) {
	.desktop{
		display: none;
	}
	.tablet{
		display: inline-block;
	}
	.mobile{
		display: none;
	}
}
@media screen and (max-width: 530px) {
	.desktop{
		display: none;
	}
	.tablet{
		display: none;
	}
	.mobile{
		display: inline-block;
	}
}
