html, body {
 	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
    margin: 0px;
    padding: 0px;
 	background-color:  #003767;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
a:link {
  text-decoration: none;
  color:inherit;
}
a:hover {
  text-decoration: none;
  color:inherit;
  border-bottom: none;
}
a:visited {
  text-decoration: none;
  color:inherit;
  border-bottom: none;
}
.section{
	position: absolute;
	margin: auto;
	width: 100%;
	height:100%;
}

/*////////////  PRIMARY NAV  ////////////*/

.nav_primary_container_1220{
	height: 100%;
	width: 100%;
	position: absolute;
	margin-top: 45px;
}
.hero_logo{
    float: left;
	text-align: left;
	width: 22%;
	padding-left: 8%;
}
.primary_nav{
	float: right;
	margin-right: 4%;
	margin-top: 15px;
}
.primary_nav ul, li {
	padding: 0px 0px 0px 24px;
	display: inline-block;
}
.nav_link{
	font-weight: 400;
	font-size: 1rem;
	text-transform: uppercase;
	color: white;
}
.hero_logo:after{
	content:’’;
	display: block;
	clear:both;
}
.primary_nav:after{
	content:’’;
	display: block;
	clear:both;
}

/*////////////  STORIES  ////////////*/

.story_container{
	height: 100%;
	width: 94%;
	padding-left: 6%;
	display:flex;
	align-items: stretch;
	justify-content:center;
	/*align-items:center;*/
	margin-right: 4%;
	margin-top: 10%;
}
.story_image{
	margin: 0px 0px 0px 18px;
}

/*////////////  ABOVE THE FOLD  ////////////*/

.hero{
	z-index: 1;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height: 100%;
	background: linear-gradient(180deg, #003767 70%, #00284B 100%);
	display:flex;
	justify-content:flex-end;
	align-items:flex-end;
}


/*////////////  BELOW THE FOLD  ////////////*/

.hero2{
	z-index: 1;
	height: 100%;
	background-color:  #003767;
}

/*////////////  CTA  ////////////*/

.cta_container{
	position: fixed;
	right:35px;
	bottom: 12px;
	z-index: 3;
}
.cta{
	background-color: #79BDE8;
	padding: 12px 18px 12px 19px;
	color: black;
	margin-right: 1px;
	margin-left: 1px;
	font-size: .9rem;
}

/*////////////  SIDE MENU  ////////////*/

.side_menu{
	width:66px;
	height:100%;
	position: fixed;
	z-index: 2;
	background-color: #79BDE8;
	text-align: center;
}
.side_menu_icons{
	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
}
.icon{
	fill: black;
	padding-top: 11px;
	padding-bottom: 11px;
	width: 66px;
}
.icon:hover{
	fill: #79BDE8;
	background-color: #003767;
	padding-top: 11px;
	padding-bottom: 11px;
	width: 66px;
}


/*////////////  HAMBURGER MENU  ////////////*/


.hamburger_menu{
	fill: black;
	padding: 30px;
	background-color: #79BDE8;
	display: none;
	position: fixed;
	/*position: absolute;*/
	right:35px;
	top: 35px;
	z-index: 3;
}






/*<div style="display:flex;justify-content:center;align-items:center;width:100%;height:100%;">
  <div style="width:1200px;"></div>
</div>*/
